@page "/bearertokensaver"

<div class="btn custom" @onclick=@(Open)>@Title</div>

<div class="modal @ModalClass" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Message</h5>
                <span><div type="button" class="btn-close" @onclick=@(Close)></div></span>
            </div>
            <EditForm OnValidSubmit="Save" EditContext="editContext" @onkeyup=@(ResetValidation)>
                <DataAnnotationsValidator />
                <div class="modal-body">
                    <div class="d-flex">
                        <div class="col-3" disabled>Bearer </div>
                        <InputText @bind-Value:get="Token.ChatGtp" id="txtChatGpt" class="form-control shadow-none" placeholder="Token"></InputText>
                    </div>
                    <div class="d-flex">
                        <div class="col-3"></div>
                        <small class="validation-message"><ValidationMessage For="() => Token.ChatGtp"/></small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <div class="btn btn-secondary" @onclick=@(() => Close())>Close</div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}
