
<div class="d-flex">
    <div class="col-3"><b>Characters</b></div>
    <div class="d-flex flex-wrap ml-2">
        @foreach (var character in Characters)
        {
            <div class="card view-select mx-1 my-1" @onclick=@(()=>ViewCharacter(character.Id))>
                <img class="mx-auto d-block" src="@character.Image" alt="@character.Name" width="128" height="128">
                <div class="text-center">@character.Name</div>
            </div>
        }
    </div>
</div>