@page "/genericlist"

<style>
    .card:hover {
        background-color:#0d6efd;
        color: white;
    }
</style>

<div class="d-flex">
    <div class="col-3"><b>@Title</b></div>
    <div class="d-flex flex-wrap ml-2">
        @foreach (var item in Items)
        {
            <div class="view-select card mx-1 px-1 mb-1" @onclick=@(()=>ViewGenericItem(item))>
                @item.Name
            </div>
        }
    </div>
</div>