@page "/askchatgpt"

<style>    
    .spinner-grow {
        margin-right:4px;
        opacity: 0.5!important;
}.slow{
    animation-duration: 1000ms;
}.quicker {
    animation-duration: 1250ms;
}.quickest {
    animation-duration: 1500ms;
}
</style>

<div class="container">
        
    <div class="row text-center mb-5"> 
        <div class="col"><a onClick="window.open('https://platform.openai.com/', '_blank')" href="#"><img src="/chatgpt-logo.png" alt="title" width="320" height="140"></a></div>
    </div>

    <EditForm OnValidSubmit="Ask" EditContext="editContext" @onkeyup=@(ResetValidation)>
        <div class="d-flex">
            <div class="col-3 col-lg-2"><b>Question</b></div>
            <div class="col ms-1">
                <DataAnnotationsValidator />
                <InputText @bind-Value:get="Model.Question" id="txtAskChatGpt" class="form-control shadow-none" placeholder="Question"></InputText>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-3 col-lg-2"></div>
            <div class="col ms-1">
                <small class="validation-message"><ValidationMessage For="() => Model.Question"/></small>
            </div>
        </div>
        <div class="d-flex mt-1">
            <div class="col-3 col-lg-2"></div>
            <div class="col ms-1 text-end">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-3 col-lg-2"><b>Answer</b></div>
            <div class="col ms-1">
                @if(isLoading)
                {
                    <div class="d-flex">
                        <div class="spinner-grow text-primary slow"></div>
                        <div class="spinner-grow text-warning quicker"></div>
                        <div class="spinner-grow text-danger quickest"></div>
                    </div>
                }
                else
                {
                    <div class="@flash">@Model.Answer</div>
                }
            </div>
        </div>
    </EditForm>

</div>