@page "/locationView/{id?}"

@if(Id == null)
{
    <p><em>No information exists for this location</em></p>
    <img src="/ricjandmorty/top-secret.png" alt="TopSecret">
}
else if (location == null)
{
    <p><em>Loading...</em></p>        
}
else
{
    <div class="container">

        <div class="row text-center">
            <div class="col"><h2>@location.Name</h2></div>
        </div>

        <div class="row mt-3">
            <div class="d-flex">
                <div class="col-3"><b>Dimension</b></div>
                <div class="ml-2">@location.Dimension</div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="col-3"><b>Type</b></div>
                <div class="ml-2">@location.Type</div>
            </div>
            <hr>
            <ChatGpt Question=@(location.AskChatGtp)></ChatGpt>
            <hr>
            <CharacterList Characters="location.Characters"></CharacterList>
        </div>
    </div>
}