@page "/episodeView/{id}"

@if(episode == null)
{
    <p><em>Loading...</em></p>    
}
else
{
    <div class="container">
        
        <div class="row text-center">
            <div class="col"><h2>@episode.Name</h2></div>
        </div>

        <div class="row mt-3">
            <div class="d-flex">
                <div class="col-3"><b>Season / Episode</b></div>
                <div class="ms-2">@episode.Episode</div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="col-3"><b>Air Date</b></div>
                <div class="ms-2">@episode.AirDate</div>
            </div>
            <hr>
            <ChatGpt Question=@(episode.AskChatGtp)></ChatGpt>
            <hr>
            <CharacterList Characters="episode.Characters"></CharacterList>
        </div>
    </div>
}