@page "/episodeView/{id}"

<style>
    .view-select:hover {
    cursor: pointer;
}
</style>

@if(episode == null)
{
    <p><em>Loading...</em></p>    
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3 col-sm-6 offset-sm-3 text-center"><h2>@episode.Name</h2></div>
        </div>

        <div class="w-100 mt-3"></div>

        <div class="row">
            <div class="d-flex">
                <div class="col-3"><b>Gender</b></div>
                <div>@episode.Episode</div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="col-3"><b>Species</b></div>
                <div>@episode.AirDate</div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="col-3"><b>Characters</b></div>
                <div>
                    @foreach (var character in episode.Characters)
                    {
                        <span class="view-select badge rounded-pill bg-secondary mx-1" @onclick=@(()=>ViewCharacter(character.Id))>@character.Name</span>
                    }
                </div>
            </div>
        </div>
    </div>
}